# RPC URLs
ARB_SEPOLIA_RPC_URL="http://127.0.0.1:8545"
ARB_MAINNET_RPC_URL="https://arb1.arbitrum.io/rpc"

# Scripts Parameters
MODE="LOCAL"
CORE_POOL_FEE=3459
AMOUNT=100

# Deployment
FOUNDRY_DISABLE_NIGHTLY_WARNING=true
PRIVATE_KEY=
LP_PRIVATE_KEY=
ETHERSCAN_API_KEY=""