.DS_Store
.cursor/debug.log
coverage-*.txt
.solx
forge.toml
forge.lock
!contracts/**/foundry.toml
!contracts/**/foundry.lock
!contracts/**/broadcast/
contracts/**/deployments/
contracts/**/deployments/.keep
contracts/**/out/
contracts/**/cache/
reports
.env

node_modules/