[submodule "lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/v4-periphery"]
	path = solidity/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "solidity/lib/v4-periphery"]
	path = solidity/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
