[submodule "solidity/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/v4-periphery"]
	path = contracts/evm/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "solidity/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/evm/lib/oracle"]
	path = contracts/evm/lib/oracle
	url = https://github.com/VenusProtocol/oracle
	ignore = dirty
[submodule "solidity/lib/solady"]
	path = contracts/evm/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/evm/lib/permit2"]
	path = contracts/evm/lib/permit2
	url = https://github.com/Uniswap/permit2
