# contracts/evm-scripts/.env
PRIVATE_KEY=
LP_PRIVATE_KEY=
RPC_URL=http://127.0.0.1:8545
MODE=LOCAL
CHAIN_ID=11155111 #important since we are running a sepolia fork
NETWORK=ethsepolia
ETH_SEPOLIA_RPC_URL=
PUBLIC_KEY_SIGNAL_VERIFIER_ADDRESS=

# this would be actomatically set when you run `just deploy-oracle`
RESILIENT_ORACLE_ADDRESS=

# market config variables
UNDERLYING_ASSET_0=
UNDERLYING_ASSET_1=
