# Compiler files
cache/
out/

# Ignores development broadcast logs
# !/broadcast
# /broadcast/**/dry-run/

# Dotenv file
.env

# Reactive deployments
!deployments/**
broadcast/**
!broadcast/
!broadcast/*/
!broadcast/*/42161/
!broadcast/*/42161/**
!broadcast/*/1597/
!broadcast/*/1597/**
