# required
PRIVATE_KEY=
# optional override used by scripts/fundcontract.sh
# REACTIVE_PRIVATE_KEY=

REACTIVE_RPC=https://lasna-rpc.rnk.dev
PROTOCOL_RPC=https://sepolia.infura.io/v3/

PROTOCOL_CALLBACK_PROXY=0xc9f36411C9897e7F959D99ffca2a0Ba7ee0D7bDA
REACTIVE_CALLBACK_PROXY=0x0000000000000000000000000000000000fffFfF

PROTOCOL_CHAIN_ID=11155111
REACTIVE_CHAIN_ID=5318007

# # HUB DEPLOYMENT
# LIQUIDITY_HUB=
# BATCH_RECEIVER=
# # SPOKE DEPLOYMENT
# HUB_CALLBACK=
# HUB_RSC=
# RECIPIENT=
# RVM_ID=