[profile.default]
src = "src"
script = "script"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
