[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ignored_error_codes = [
  2394,
  5574,
  3860,
] # Silence transient storage composability warning and test code warnings

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
solc_version = '0.8.26'
evm_version = "cancun"  # hard fork that enabled EIP-1153
optimizer_runs = 20000
optimizer = true
via_ir = true
ffi = true

fs_permissions = [{ access = "read-write", path = "./deployments" }]

remappings = ["@openzeppelin/=lib/openzeppelin-contracts/"]

# Foundry automatically instruments linked-libraries if library public/external functions are called.
# libraries = [
#   "src/libraries/VTSPositionLib.sol:VTSPositionLib:0x0000000000000000000000000000000000000000",
#   "src/libraries/VTSFeeLib.sol:VTSFeeLib:0x0000000000000000000000000000000000000000",
#   "src/libraries/VTSSwapLib.sol:VTSSwapLib:0x0000000000000000000000000000000000000000",
#   "src/libraries/VTSCommitLib.sol:VTSCommitLib:0x0000000000000000000000000000000000000000",
# ]

[profile.default.fuzz]
runs = 1000
seed = "0x4444"

[profile.pr.fuzz]
runs = 10000

[profile.ci.fuzz]
runs = 100000

[profile.debug]
via_ir = false
optimizer_runs = 200
fuzz.runs = 100

[rpc_endpoints]
local = "${ANVIL_FORK_URL}"
sepolia = "${ARB_SEPOLIA_RPC_URL}"
arbitrum = "${ARB_MAINNET_RPC_URL}"
ethsepolia = "${ETH_SEPOLIA_RPC_URL}"

# For some reason etherscan api is required for local anvil fork.
[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
arbitrum = { key = "${ETHERSCAN_API_KEY}" }
